
@{
    ViewBag.Title = "Adaugare Subcategorie";
}



<h2>Adaugare Subcategorie</h2>

<form method="post" action="/Subcategories/New">

    <label>Nume subcategorie</label>
    <br />
    <input type="text" name="SubcategoryName" />
    <br /><br />
    <button class="btn btn-success" type="submit">Adauga subcategorie</button>
</form>

