@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <img src="~/images/kn_all_edge.png" alt="kn_all_edge" style="float:right; width:500px; height:200px;">
</div>

<h1 style="color: #00b894">
    <strong>Stay curious!</strong>
</h1>
<h2>
    Discover stories, thinking, and expertise from writers on any topic.
</h2>

<br />


<h6>
    The best ideas can change who we are. knALLedge is where those ideas take shape, take off, and spark powerful conversations.
    We’re an open platform where over 100 million readers come to find insightful and dynamic thinking. Here, expert and
    undiscovered voices alike dive into the heart of any topic and bring new ideas to the surface. Our purpose is to spread these
    ideas and deepen understanding of the world.

    We’re creating a new model for digital publishing. One that supports nuance, complexity, and vital storytelling without giving
    in to the incentives of advertising. It’s an environment that’s open to everyone but promotes substance and authenticity. And it’s
    where deeper connections forged between readers and writers can lead to discovery and growth. Together with millions of collaborators,
    we’re building a trusted and vibrant ecosystem fueled by important ideas and the people who think about them.
</h6>

<br />
<hr />

<h3>A living network of curious minds.</h3>
<h6>
    Anyone can write on knALLedge. Thought-leaders, journalists, experts, and individuals with unique perspectives
    share their thinking here. You’ll find pieces by independent writers from around the globe, stories we feature
    and leading authors, and smart takes on our own suite of blogs and publications.
</h6>

<br />
<hr />

<h3>Create the space for your thinking to take off.</h3>
<h6>
    A blank page is also a door. At knALLedge you can walk through it. It's easy and free to share your thinking on
    any topic, connect with an audience, express yourself with a range of publishing tools, and even earn money for
    your work.
</h6>

<br />
<hr />
<br />

<h5 style="color: #00b894">KNOWLEDGE</h5>
<h6>
    Knowledge is often understood as awareness of facts or as practical skills, and may also mean familiarity with
    objects or situations. Knowledge of facts, also called propositional knowledge, is often defined as true belief
    that is distinct from opinion or guesswork by virtue of justification. While there is wide agreement among
    philosophers that propositional knowledge is a form of true belief, many controversies in philosophy focus on
    justification: whether it is needed at all, how to understand it, and whether something else besides it is needed.
    These controversies intensified due to a series of thought experiments by Edmund Gettier and have provoked various
    alternative definitions. Some of them deny that justification is necessary and replace it, for example, with reliability
    or the manifestation of cognitive virtues. Others contend that justification is needed but formulate additional requirements,
    for example, that no defeaters of the belief are present or that the person would not have the belief if it was false.
</h6>

<h6>
    Knowledge can be produced in many different ways. The most important source of empirical knowledge is perception,
    which refers to the usage of the senses. Many theorists also include introspection as a source of knowledge, not
    of external physical objects, but of one's own mental states. Other sources often discussed include memory,
    rational intuition, inference, and testimony. According to foundationalism, some of these sources are basic in
    the sense that they can justify beliefs without depending on other mental states. This claim is rejected by
    coherentists, who contend that a sufficient degree of coherence among all the mental states of the believer is
    necessary for knowledge.
</h6>

<h6>
    Many different aspects of knowledge are investigated and it plays a role in various disciplines. It is the
    primary subject of the field of epistemology, which studies what we know, how we come to know it, and what it
    means to know something. The problem of the value of knowledge concerns the question of why knowledge is more
    valuable than mere true belief. Philosophical skepticism is the controversial thesis that we lack any form of
    knowledge or that knowledge is impossible. Formal epistemology studies, among other things, the rules governing
    how knowledge and related states behave and in what relations they stand to each other. Science tries to acquire
    knowledge using the scientific method, which is based on repeatable experimentation, observation, and measurement.
    Many religions hold that humans should seek knowledge and that God or the divine is the source of knowledge.

</h6>
